/*

  GENERAL
  - Position
  - Z index
  - Display
  - Flex
  - Overflow
  - White space

*/
/* Position */
.p-fixed { position: fixed; }
.p-relative { position: relative; }
.t-0px { top: 0px; }
.t--0_5px { top: -0.5px; }
.r-0px { right: 0px; }
.l-0px { left: 0px; }
/* Z index */
.zi-10 { z-index: 10; }
/* Display */
.d-block { display: block; }
.d-inline_block { display: inline-block; }
.d-flex { display: flex; }
.d-none { display: none; }
/* Flex */
.ai-center { align-items: center; }
.jc-space_between { justify-content: space-between; }
/* Overflow */
.oy-hidden { overflow-y: hidden; }
.ox-scroll { overflow-x: scroll; }
/* White space */
.ws-nowrap { white-space: nowrap; }
/*

  SIZING
  - Width
  - Max height

*/
/* Width */
.w-100pt { width: 100%; }
/* Max height */
.mh-0px { max-height: 0px; }
/*

  SPACING
  - Margin
  - Padding

*/
/* Margin */
.mv-48px { margin-top: 48px; margin-bottom: 48px; }
.mt-136px { margin-top: 136px; }
.mr-8px { margin-right: 8px; }
.mr-16px { margin-right: 16px; }
.mb-4px { margin-bottom: 4px; }
.mb-8px { margin-bottom: 8px; }
.mb-12px { margin-bottom: 12px; }
.mb-48px { margin-bottom: 48px; }
/* Padding */
.pv-12px { padding-top: 16px; padding-bottom: 16px; }
.pv-16px { padding-top: 16px; padding-bottom: 16px; }
.ph-24px { padding-right: 24px; padding-left: 24px; }
.pt-24px { padding-top: 24px; }
.pr-4px { padding-right: 4px; }
.pr-16px { padding-right: 16px; }
.pr-24px { padding-right: 24px; }
.pb-0px { padding-bottom: 0px; }
.pb-16px { padding-bottom: 16px; }
.pb-24px { padding-bottom: 24px; }
/*

  TYPOGRAPHY
  - Font family
  - Font weight
  - Font size
  - Line height
  - Letter spacing
  - Text decoration
  - Text transform

*/
/* Font family */
.ff-apercu_pro { font-family: "Apercu Pro", sans-serif; }
/* Font weight */
.fw-bold { font-weight: bold; }
/* Font size */
.fs-12px { font-size: 12px; }
.fs-14px { font-size: 14px; }
.fs-16px { font-size: 16px; }
/* Line height */
.lh-16px { line-height: 16px; }
.lh-20px { line-height: 20px; }
/* Letter spacing */
.ls-0_5px { letter-spacing: 0.5px; }
.ls-1px { letter-spacing: 1px; }
/* Text decoration */
.td-underline { text-decoration: underline; }
/* Text transform */
.tt-uppercase { text-transform: uppercase; }
/*

  STYLING
  - Background color
  - Border
  - Backdrop filter

*/
/* Background color */
.bc-transparent { background-color: transparent; }
.bc-white { background-color: white; }
/* Border */
.b-none { border: none; }
.bbs-solid { border-bottom-style: solid; }
.bbw-1px { border-bottom-width: 1px; }
.bbc-black { border-bottom-color: black; }
.bbc-light_gray { border-bottom-color: #f2f2f7; }
/*

  TRANSITIONS
  - Transition property
  - Transition timing function
  - Transition duration

*/
/* Transition property */
.tp-max_height { transition-property: max-height; }
.tp-opacity { transition-property: opacity; }
/* Transition timing function */
.ttf-ease_in_out { transition-timing-function: ease-in-out; }
.ttf-cubic_bezier { transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86); }
/* Transition duration */
.td-0_15s { transition-duration: 0.15s; }
.td-0_35s { transition-duration: 0.35s; }
/*

  ANIMATION PRESET
  - Partial Fade-in
  - Partial Fade-out

*/
/* Partial Fade-in */
.ap-partial_fade_in { opacity: 0.5; }
.ap-partial_fade_in:hover { opacity: 1; }
/* Partial Fade-out */
.ap-partial_fade_out { opacity: 1; }
.ap-partial_fade_out:hover { opacity: 0.5 }

/*

  FONT FACES
  - Apercu Pro

*/
/* Apercu Pro */
@font-face {
  font-family: 'Apercu Pro';
  src: url('Apercu-Pro.eot');
  src: url('Apercu-Pro.eot?#iefix') format('embedded-opentype'),
    url('Apercu-Pro.woff2') format('woff2'),
    url('Apercu-Pro.woff') format('woff'),
    url('Apercu-Pro.ttf') format('truetype'),
  url('Apercu-Pro.svg#ApercuPro') format('svg');
}
/*

  MEDIA QUERIES
  - Medium
  - Large

*/
/* Medium */
@media screen and (min-width: 480px) {
  .d-flex-m { display: flex; }
  .d-block-m { display: block; }
  .d-inline_block-m { display: inline-block; }
  .d-none-m { display: none; }
  .f-1-m { flex: 1; }
  .oy-hidden-m { overflow-y: hidden; }
  .oy-scroll-m { overflow-y: scroll; }
  .h-100pt-m { height: 100%; }
  .w-320px-m { width: 320px; }
  .m-0px-m { margin: 0px; }
  .p-0px-m { padding: 0px; }
  .pt-48px-m { padding-top: 48px; }
  .pt-69px-m { padding-top: 69px; }
  .pb-96px-m { padding-bottom: 96px; }
  .pl-24px-m { padding-left: 24px; }
}
/* Large */
@media screen and (min-width: 960px) {
  .mw-640px-l { max-width: 640px; }
  .mh-auto-l { margin-right: auto; margin-left: auto; }
}