/*

  GENERAL
  - Display
  - Overflow

*/
/* Display */
.d-block { display: block; }
.d-inline_block { display: inline-block; }
.oy-hidden { overflow-y: hidden; }
/*

  SIZING
  - Width
  - Max height

*/
/* Width */
.w-100pt { width: 100%; }
/* Max height */
.mh-0px { max-height: 0px; }
/*

  SPACING
  - Margin
  - Padding

*/
/* Margin */
.mt-48px { margin-top: 48px; }
.mb-8px { margin-bottom: 8px; }
.mb-12px { margin-bottom: 12px; }
.mb-24px { margin-bottom: 24px; }
/* Padding */
.pv-16px { padding-top: 16px; padding-bottom: 16px; }
.pr-16px { padding-right: 16px; }
.ph-24px { padding-right: 24px; padding-left: 24px; }
/*

  TYPOGRAPHY
  - Font family
  - Font weight
  - Font size
  - Line height
  - Letter spacing
  - Text transform

*/
/* Font family */
.ff-apercu-pro { font-family: "Apercu Pro", sans-serif; }
.ff-apercu-pro-bold { font-family: "Apercu Pro Bold", sans-serif; }
/* Font weight */
.fw-bold { font-weight: bold; }
/* Font size */
.fs-12px { font-size: 12px; }
.fs-14px { font-size: 14px; }
.fs-16px { font-size: 16px; }
/* Line height */
.lh-20px { line-height: 20px; }
/* Letter spacing */
.ls-0_5px { letter-spacing: 0.5px; }
.ls-1px { letter-spacing: 1px; }
/* Text transform */
.tt-uppercase { text-transform: uppercase; }
/*

  STYLING
  - Background color
  - Border

*/
/* Background color */
.bc-transparent { background-color: transparent; }
/* Border */
.b-none { border: none; }
.bbs-solid { border-bottom-style: solid; }
.bbw-1px { border-bottom-width: 1px; }
.bbc-black { border-bottom-color: black; }
/*

  TRANSITIONS
  - Transition property
  - Transition timing function
  - Transition duration

*/
/* Transition property */
.tp-max_height { transition-property: max-height; }
.tp-opacity { transition-property: opacity; }
/* Transition timing function */
.ttf-ease_in_out { transition-timing-function: ease-in-out; }
.ttf-cubic_bezier { transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86); }
/* Transition duration */
.td-0_15s { transition-duration: 0.15s; }
.td-0_35s { transition-duration: 0.35s; }
/*

  ANIMATION PRESET
  - Opacity

*/
.ap-opacity { opacity: 1; }
.ap-opacity:hover { opacity: 0.5 }

/*

  FONT FACES
  - Apercu Pro

*/
/* Apercu Pro */
@font-face {
  font-family: 'Apercu Pro';
  src: url('Apercu-Pro.eot');
  src: url('Apercu-Pro.eot?#iefix') format('embedded-opentype'),
    url('Apercu-Pro.woff2') format('woff2'),
    url('Apercu-Pro.woff') format('woff'),
    url('Apercu-Pro.ttf') format('truetype'),
  url('Apercu-Pro.svg#ApercuPro') format('svg');
}