<footer class="d-flex ai-center jc-center p-16px p-32px-m">
  <a class="ff-apercu_pro fs-12px fc-b7b4b4 ls-1px tt-uppercase td-none" href="https://www.instagram.com/ecoh.mx/" target="_blank">
    Instagram
  </a>
  <img class="fc-b7b4b4 w-18px h-18px mh-43px" src="../images/logo-icono.png" alt="Ecoh logo"/>
  <a class="ff-apercu_pro fs-12px fc-b7b4b4 ls-1px tt-uppercase td-none" href="" target="_blank">
    Facebook
  </a>
</footer>