<footer class="d-flex ai-center jc-center p-16px p-32px-m">
  <a class="ff-apercu_pro fs-12px fc-b7b4b4 ls-1px tt-uppercase td-none" href="https://www.instagram.com/ecoh.mx/" target="_blank">
    Instagram
  </a>
  <svg class="mh-43px" width="18" height="18" viewBox="0 0 35 35" fill="none">
    <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M0 0.000976562V35.001H35V0.000976562H0ZM34.2037 34.2047H0.796816V0.796659H34.2043L34.2037 34.2047ZM30.0095 24.4487H29.2133V29.2142H5.78668V5.78718H29.2139V10.5748H30.0101V4.99106H4.99042V30.0106H30.0095V24.4487ZM10.1079 9.77859H24.7773V10.5748H10.1079V9.77859ZM24.7773 24.4487H10.1079V25.245H24.7773V24.4487ZM10.5061 17.1023H29.2139V14.9422H30.0101V19.9596H29.2139V17.8986H10.5061V19.9596H9.7098V14.9422H10.5061V17.1023Z"
        fill="#CCCCCC"
    />
  </svg>
  <a class="ff-apercu_pro fs-12px fc-b7b4b4 ls-1px tt-uppercase td-none" href="https://www.facebook.com/ECOH.MX/" target="_blank">
    Facebook
  </a>
</footer>