<div class="d-flex jc-space_between p-16px p-32px-m">
    <div class="d-flex ai-center f-1-m">
        <img class="w-35px h-35px" src="../images/logo-icono.png" alt="Ecoh logo">  
    </div>
    <div class="d-none d-flex-l ai-center-l jc-center-l f-1-l">
        <img class="h-15px-m w-85px-m" src="../images/logo-texto.png" alt="Ecoh logo with text">
    </div>      
    <div class="d-flex ai-center jc-flex_end-m f-1-m">
        <a class="ff-apercu_pro fs-12px fc-b7b4b4 pv-5px ls-1px tt-uppercase td-none" href="./nosotros.html">Nosotros</a>
        <a class="ff-apercu_pro fs-12px fc-b7b4b4 pv-5px ls-1px tt-uppercase td-none" href="./contacto.html">Contacto</a>
        <a class="ff-apercu_pro fs-12px fc-b7b4b4 pv-5px ls-1px tt-uppercase td-none" href="./proyectos.html">Proyectos</a>         
    </div>
</div>