<div id="menu-proyectos" class="p-fixed t-0px r-0px b-0px l-0px p-24px d-flex fd-column ai-center bc-blanco ox-hidden oy-scroll tp-transform ttf-cubic_bezier td-0_35s t-ty--100pt zi-1000 d-none-m">
  <div id="boton-cerrar-menu-proyectos" class="d-flex ai-center jc-center w-24px h-24px mb-24px c-pointer bw-1px bs-solid bc-negro">
    <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path class="f-negro" fill-rule="evenodd" clip-rule="evenodd" d="M12 12.7791L18.2209 19L19 18.2209L12.7791 12L19 5.77905L18.2209 5L12 11.2209L5.77905 5L5 5.77905L11.2209 12L5 18.2209L5.77905 19L12 12.7791Z"/>
    </svg>
  </div>
  <% data.sitio.proyecto.each_with_index do |(id, proyecto), i| %>
    <a class="<% if i != data.sitio.proyecto.length - 1%>mb-24px<% end %> ff-apercu_pro fs-20px fc-negro tt-uppercase ls-1px td-none tp-opacity ttf-ease_in_out td-0_15s ap-partial_fade_in" href="/proyectos/<%= id %>">
      <%= proyecto.nombre %>
    </a>
  <% end %>
</div>