---
titulo: "Contacto"
---
<div class="d-flex-m f-1 mw-900px-m">
    <div class="w-50pt-m mr-16px-m">
        <div class="h-400px m-15px" id="googleMaps"></div>
    </div>
    <div class="w-50pt-m ml-16px-m">
        <div class="p-16px">
            <p class="pb-4px ff-apercu_pro fc-b7b4b4 tt-uppercase">
              Rio Guadalquivir Pte. 217
            </p>
            <p class="pb-4px ff-apercu_pro fc-b7b4b4 tt-uppercase">
              Colonia del Valle
            </p>
            <p class="pb-4px ff-apercu_pro fc-b7b4b4 tt-uppercase">
              San Pedro Garza Garcia,
            </p>
            <p class="pb-4px ff-apercu_pro fc-b7b4b4 tt-uppercase">
              N.L. México
            </p>
        </div>
        <div class="p-16px">
            <a class="d-block pb-4px ff-apercu_pro td-none tt-uppercase fc-b7b4b4" href="tel:+52 8185571329">
              81 85571329
            </a>
            <a class="d-block pb-4px ff-apercu_pro td-none tt-uppercase fc-b7b4b4" href="mailto:cesar@ecoh.mx">
              cesar@ecoh.mx
            </a>
        </div>
    </div>
</div>
<%= javascript_include_tag "contacto" %>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKj_Zv6mcHbAGVCr25ZAfPvqUJRrlQ_wg&callback=myMap"></script>